* {
  box-sizing: border-box
}

.footInfo {
  color : white;
  background-color: rgb(35, 32, 32);
  font-size: 12px;
  margin-top: 10px;
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.navigationBar {
  position: fixed;
  width: 100%;
  // no es necesario colocar unidades al 0
  top: 0;
  left: 0;
  right: 0;
  clear: both;
  z-index: 1000;
}

.postViewer {
  padding-top: 100px;
  left : 230px;
}

.menu {
  position: fixed;
  left : 0;
  top : 50px;
}
