.boton-login a{
	-webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  font-weight: bold;
  border: 1px solid #a2482e;
  color: #ffffff;
  display: inline-block;
  border-radius: 4px;
  margin-right: 15px;
  margin-top: 5px;
  font-size: 18px;
  padding: 8px 30px;
  background: #1F2041 !important;
  text-decoration: none !important;
}

.header .container-fluid span .login-buttons-dropdown-align- .login-link-and-dropdown-list .login-link-text{
  color: #fff
}

.navbar-fixed-top .container-fluid span .login-buttons-dropdown-align- .login-link-and-dropdown-list .login-link-text{
  color: #1796ef !important;
}

.navbar{
  background-color: #1F2041; 
}