.post {
    box-shadow: 10px 10px 5px #888888;
    height: 150px;
    border: 1px solid #000000;
    margin-bottom: 15px;
}

.post-text {
    height: 75%;
    width:80%;
    max-height: 100px;
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 45px;
    background-color: #F2F5EA;
    overflow: scroll;
}

.row{
	height: 77%;
}

.buttonDiv{
	padding: 0px 15px;
}
.btn-danger{
    background-color: #9E7B9B;
    border-color: #9E7B9B;
    color: #000036;
}

.btn-success{
    color: #00008b;
}

.btn-info{
    color: #00008b;
}